<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
        <title>Document</title>


        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap" rel="stylesheet">">


</head>



<body id="page-ideas">

<div id="container">


    <header>
        <a class="logo" href="/"  >

        <img src="logo.png" alt="logo">
    </a>
        
        <nav>
        
        <li><a href="/">Inicio</a></li>
        <li><a class="button" href="#" onclick="onOff()">Nova ideia</a></li>
        
        </nav>
        
        </header>
        
        
        <section id="title">
        <p>Em exibição </p>
        <h1>Ideias</h1>
        
        </section>
        
        <main>
        
                  
        <section id="ideas">
            

            {% for idea in ideas %}
            <div class="id">


                <img src="{{idea.image}}" 
                
                alt="{{idea.title}}">

                <div class="content">

                    <h3>{{idea.title}}</h3>
                    <p>{{idea.category}} </p>
                    <div class="description">
                        {{idea.description}}
                    </div>

                    <a href="{{idea.link}}" target="_blank">Ir para a Ideias</a>
                   


                </div>
            
            
            </div>
            {% endfor %}

        </section>
        
        </main>
        
            <footer>
                Com amor <a href="https://www.linkedin.com/in/robertojrcdc/" target="_blank">
                    Roberto jr </a>
                    
        
        
            </footer>

</div>


{% include "modal.html" %}
    

<script src="script.js"></script>

</body>


</html>