<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
        <title>Document</title>


        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap" rel="stylesheet">">


</head>



<body id="page-ideas">

<div id="container">


    <header>
        <a href="/"  >

        <img src="logo.png" alt="logo">
    </a>
        
        <nav>
        
        <li><a href="/">Inicio</a></li>
        <li><a class="button" href="#" onclick="onOff()">Nova ideia</a></li>
        
        </nav>
        
        </header>
        
        
        <section id="title">
        <p>Em exibição </p>
        <h1>Ideias</h1>
        
        </section>
        
        <main>
        
                  
        <section id="ideas">

            <div class="id">


                <img src="https://www.flaticon.com/premium-icon/icons/svg/2007/2007476.svg" 
                
                alt="codar">

                <div class="content">

                    <h3>Cursos de programação</h3>
                    <p>Estudo</p>
                    <div class="description">
                         Lorem ipsum dolor sit amet consectetur, 
                         adipisicing elit. Dolorum nisi ut iure voluptates explicabo doloremque
                         amet ipsum ullam mollitia sint delectus esse rem expedita consequatur 
                         beatae tempora officiis, saepe voluptatum?
                    </div>

                    <a href="#">Ir para a ideia</a>
                </div>


            </div>
            <div class="id">


                <img src="https://image.flaticon.com/icons/svg/2445/2445918.svg" 
                
                alt="Exercícios">

                <div class="content">

                    <h3>Exercícios</h3>
                    <p>Saúde</p>
                    <div class="description">
                         Lorem ipsum dolor sit amet consectetur, 
                         adipisicing elit. Dolorum nisi ut iure voluptates explicabo doloremque
                         amet ipsum ullam mollitia sint delectus esse rem expedita consequatur 
                         beatae tempora officiis, saepe voluptatum?
                    </div>

                    <a href="#">Ir para a ideia</a>
                </div>


            </div>
            <div class="id">


                <img src="https://image.flaticon.com/icons/svg/2003/2003818.svg" 
                
                alt="meditar">

                <div class="content">

                    <h3>Meditação</h3>
                    <p>Mentalidade</p>
                    <div class="description">
                         Lorem ipsum dolor sit amet consectetur, 
                         adipisicing elit. Dolorum nisi ut iure voluptates explicabo doloremque
                         amet ipsum ullam mollitia sint delectus esse rem expedita consequatur 
                         beatae tempora officiis, saepe voluptatum?
                    </div>

                    <a href="#">Ir para a ideia</a>
                </div>


            </div>


            <div class="id">


                <img src="https://image.flaticon.com/icons/svg/2737/2737429.svg" 
                
                alt="Karaoke">

                <div class="content">

                    <h3>Karaoke</h3>
                    <p>Diversão em familia</p>
                    <div class="description">
                         Lorem ipsum dolor sit amet consectetur, 
                         adipisicing elit. Dolorum nisi ut iure voluptates explicabo doloremque
                         amet ipsum ullam mollitia sint delectus esse rem expedita consequatur 
                         beatae tempora officiis, saepe voluptatum?
                    </div>

                    <a href="#">Ir para a ideia</a>
                </div>


            </div>




        </section>
        
        </main>
        
            <footer>
                Com amor <a href="https://www.linkedin.com/in/robertojrcdc/" target="_blank">
                    Roberto jr </a>
                    
        
        
            </footer>

</div>

<!--Modal-->

<div id="modal" class="hide">
    <div class="content"> 
        <h1>Nova ideia</h1>

        <form action="">
        
        
            <div class="input-wraper">
        
                <label for="title">Titulo da ideaia</label>
                <input type="text" name="title">
        
            </div>
            <div class="input-wraper">
        
                <label for="category">Categoria</label>
                <input type="text" name="category">
        
            </div>
            <div class="input-wraper">
        
        
                <label for="image">Link da imagem</label>
                <input type="url" name="imagem">
        
            </div>
            <div class="input-wraper">
        
        
                <label for="description">Digite uma descrição para esta
                    ideia</label>
                <textarea name="description" cols="30" rows="10"></textarea>
        
            </div>
        
            <div class="input-wraper">
        
                <label for="link">Link da ideia</label>
                <input type="url" name="link">
        
            </div>
            <a href="#" onclick="onOff()">Voltar</a>
            <button>Salvar</button>


        </form>


    </div>


</div>


<script src="script.js"></script>

</body>


</html>